/*
main                #5aa02c
secondary:          #022b3a
tertiary:           #1f7a8c
background:         #fff
text:               #0a122a
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

.calindra {
    text-align: center;
    background-color: #fff;
    color: #0a122a;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.calindra a,
.calindra a:link,
.calindra a:visited,
.calindra a:hover,
.calindra a:active {
    color: inherit;
}

.calindra-logo {

}

img.responsive {
    width: 100%;
}

.calindra-logo:after {
    content: '';
    display: block;
    width: 100%;
    min-height: 240px;
    max-width: 320px;
    margin: 0 auto;
    background: transparent url('../images/logo_optimised.svg') center center no-repeat;
    background-size: 320px 240px;
}

.calindra-logo span {
    display: none;
}

.lead {
    font-size: 120%;
}

.section,
.footer {
    padding: 2em 0;
}

.hero {
    background: #fff url('../images/hero_bg3.svg') 0 -50px fixed;

    background-size: 800px 600px;
}

.intro {
    background-color: #022b3a;
    color: #fff;
}

.born {
    text-align: justify;
}

.quote {
    background-color: #1f7a8c;
    color: #fff;
}

.quote blockquote {
    font-size: 2em;
    line-height: 2.5em;
    border-left: 10px solid rgba(255, 255, 255, .7);
}

.spirit {

}

.ofertalha {
    background-color: #e20038;
    color: #fff;
}

.ofertalha .img-ofertalha {
    width: 100%;
    margin: 1em auto;
}

footer {
    padding: 1rem 0;
    background: #022b3a;
    color: #fff;
}

.freepik {
    font-size: 80%;
    color: #555 !important;
    text-decoration: none;
    display: block;
    text-align: center;
}

form input,
form select,
form textarea {
    color: #0a122a;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

form input[type=submit] {
    border: none;
    background-color: #050915;
    color: #fff;
}

@media (min-width: 760px) {

    :root {
        font-size: 80%;
    }

    .calindra {
        text-align: left;
    }

    .hero {
        text-align: center;
        background-size: 1920px 1080px;
        padding-bottom: 4rem;
    }

    .calindra-logo:after {
        min-height: 480px;
        max-width: 640px;
        background-size: 640px 480px;
    }
}